{% extends 'base.html.twig' %}

{% block title %}Bookings{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

{% endblock %}

{% block body %}
    <style>
        table{
           margin-left: 80px;
         font-size: 60px;
        }
    </style>
 {% if bookings %}

<table id="bookings" class = "table table-striped">
    <thead>
    <tr>
        <th>Entry Date</th>
        <th>Departure Date</th>

        <th>Actions</th>
        <tr>

    </thead>
    <tbody>
    {% for booking in bookings %}


        <tr>
        <td>{{ booking.Startdate|date('y-m-d') }}</td>
        <td>{{ booking.Enddate|date('y-m-d') }}</td>


        <td>
            <a href="/booking/{{ booking.id }}" class="btn btn-dark">Show</a>

                <a href="#" class="btn btn-danger delete-booking" data-id = "{{ booking.id }}">Delete</a>
            </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
    {% else %}
    <p>No booking to display</p>
{% endif %}
{% endblock %}
 {% block javascripts %}
<script src = "js/main.js"></script>
 {% endblock %}
